body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 80vh;
	background: white;
	font-family: Helvetica, sans-serif;
}

a:link, a:visited, a:active {
	color: #008eee;
	text-decoration: none;
}

a:hover {
	color: #00aeee;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.header {
	margin: 20px auto;
	text-align: center;
	font-size: 1.4rem;
}

.bordered {
	border: 1px solid lightgray;
	box-sizing: border-box;
}

.albums {
	display: flex;
	justify-content: center;
	align-items: center;
}

.albums a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	font-size: 0.6rem;
}

.albums a img {
	width: 100px;
	height: 100px;
	border: 1px solid #eee;
	margin-bottom: 0.5rem;
}

.contact {
	margin: auto;
	text-align: center;
	font-size: 1.4rem;
	margin: 7px;
}
